%h1 AWS App Users:
%hr
- AwsUser.all.each do |aws_user|
  =image_tag aws_user.avatar
  %h2= aws_user.email

  =link_to 'Delete user', aws_user_registration_path(aws_user), method: :delete
  %hr

=link_to 'Create AWS User', new_aws_user_registration_path
%br
=link_to 'Logout', destroy_aws_user_session_path, method: :delete
